.circles {
    display: flex;
    justify-content: space-around;
}
.circle {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-color: #ec5252;
}

.squares {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #333;
}

.additional {
    margin: 0 auto;
    margin-top: 100px;
    background-color: black;
    width: 300px;
    height: 50px;
    color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
}